*{
    margin: 0;
    padding: 0;
    
}

.main__container{
    background-color: rgb(24, 16, 13);
    padding: 10px;
}

.element-container{
    margin: 10px;
    border-radius: 24px;
    background-color: rgba(48, 38, 38, 0.63);
    padding-bottom: 30px;
}

.element-container-inside{
    padding: 10px;
}

.element-name{
    font-weight: bold;
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.icon-modify{
    color: rgb(21, 134, 11);
    position: absolute;
    font-size: 60px;
    right: 50px;
}

.element-amount{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: space-between;
    padding: 5px;
    color: rgb(175, 243, 49);
}

.element-price{
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(175, 243, 49);
}

.icon-delete{
    color: rgb(172, 19, 19);
    
    position: absolute;
    font-size: 30px;
    
    

}

.main__container-add-button{
    background-color: rgba(48, 38, 38, 0.63);
    color: rgb(175, 243, 49);
    padding: 10px;
    border-radius: 12px;
    width: 150px;
    text-align: center;
    margin: auto;
}

.add-button-link{
    text-decoration: none;
    color: rgb(175, 243, 49);
}